@import 'tailwindcss';

@theme {
  --breakpoint-xl: 1440px;

  --font-inter: var(--font-inter);
  --font-quicksand: var(--font-quicksand);

  --color-light-blue: #e7f9fd;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  body {
    @apply font-inter;
  }
}

@utility max-container {
  @apply max-w-[1440px] mx-auto;
}

@utility title {
  @apply text-5xl max-md:text-4xl max-sm:text-3xl font-bold font-quicksand;
}

@utility subtext {
  @apply text-sm max-sm:text-xs text-black/60;
}
